@font-face {
  font-family: "Quiet Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Quiet Sans Regular"), url("QuietSansRegular.woff") format("woff");
}

@font-face {
  font-family: "Quiet Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Quiet Sans Light"), url("QuietSansLight.woff") format("woff");
}

@font-face {
  font-family: "Quiet Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Quiet Sans Bold"), url("Quiet Sans Bold.woff") format("woff");
}
