.marker-cluster-custom {
  background-color: white;
  border: 3px black solid;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.marker-cluster-custom span {
  font-size: 12pt;
}
