.marker-cluster-custom {
  background-color: white;
  border: 3px black solid;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marker-cluster-custom span {
  font-size: 9pt;
}
